<% layout('layouts/boilerplate')%>
    <div class="body">
        <div class='centerLink'>
            <button><a href="/register" aria-current="page">Register</a></button>
            <br><br>
            <button><a href="/main">View cards</a></button>
        </div>
    </div>